---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>gci15.fossasia.org by fossasia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" type="text/css" href="stylesheets/ss.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/hover.css" media="screen">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <img class="navbar-brand-logo" src="img/fossasia-dark.png">
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#banner">Welcome</a></li>
            <li><a href="#mentors">Mentors</a></li>
            <li><a href="#students">Students</a></li>
            <li><a href="#contributors">Contributors</a></li>
            <li><a href="#social_media">Social Media</a></li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
        <a href="https://codein.withgoogle.com/" class="codein-bkg">
          <h2 class="codein-bigger">Google</h2>
          <h2 class="codein-smaller">Code-in</h2>
          <img src="img/google-bkg.png">
        </a>
      </nav>
      <!--End Navbar-->
      <!--Slider-->
      <div class="slider-container" id="banner">
        <div class="slider-control left inactive"></div>
        <div class="slider-control right"></div>
      <ul class="slider-pagi"></ul>
      <div class="slider">
        <div class="slide slide-0 active">
          <div class="slide__bg"></div>
          <div class="slide__content">
            <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
              <path class="slide__overlay-path" d="M0,0 150,0 455,405 0,405" />
            </svg>
            <div class="slide__text">
              <h2 class="slide__text-heading">FOSSASIA</h2>

              <p class="slide__text-desc">Bringing together an inspiring community across borders and ages to form a better future with Open Technologies and ICT</p>
              <a class="slide__text-link" href="http://fossasia.org/" target="_blank">HOME</a>
            </div>
          </div>
        </div>
        <div class="slide slide-1 ">
          <div class="slide__bg"></div>
          <div class="slide__content">
            <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
              <path class="slide__overlay-path" d="M0,0 150,0 455,405 0,405" />
            </svg>
            <div class="slide__text">
              <h2 class="slide__text-heading">Google Code-In </h2>
              <p class="slide__text-desc" >Participating in Google Code-in, a bootcamp for young minds to explore the world of open source. </p>
              <a class="slide__text-link" href="https://codein.withgoogle.com/organizations/fossasia/" target="_blank">CODE-IN 2015</a>
            </div>
          </div>
        </div>
        <div class="slide slide-2">
          <div class="slide__bg"></div>
          <div class="slide__content">
            <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
              <path class="slide__overlay-path" d="M0,0 150,0 455,405 0,405" />
            </svg>
            <div class="slide__text">
              <h2 class="slide__text-heading">FOSSASIA 2016</h2>
              <p class="slide__text-desc">Asia's premier Open Technology Event | March 18th - 20th 2016 in Singapore </p>
              <a class="slide__text-link" href="http://2016.fossasia.org/" target="_blank">ATTEND</a>
            </div>
          </div>
        </div>
        <div class="slide slide-3">
          <div class="slide__bg"></div>
          <div class="slide__content">
            <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
              <path class="slide__overlay-path" d="M0,0 150,0 455,405 0,405" />
            </svg>
            <div class="slide__text">
              <h2 class="slide__text-heading">FOSSASIA 2015</h2>
              <p class="slide__text-desc">MARCH 13TH - 15TH 2015 SINGAPORE </p>
              <a class="slide__text-link" href="http://2015.fossasia.org/" target="_blank"> 2015 HOME</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Slider-->
    <section class="main-content">
      <div class="container">
        <a class="anchor" name="mentors"></a>
        <div class="row mentors-wrapper">
          <div class="members mentors">
            <h1 class="section-h1"><span class="white-border">Mentors</span></h1>
            {% for mentor in site.data.mentors %}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="grid">
                 <figure class="effect-duke">
                    <div class="card">
                      <div class=" avatar img-circle">
                        {% if mentor.image %}
                          <img class="card-img-top" src="img/mentors/{{ mentor.image }}" alt="{{ mentor.name }}">
                        {% else %}
                          <img class="card-img-top" src="img/member.png" alt="{{ mentor.name }}">
                        {% endif %}
                        {% if mentor.bio %}
                          <div class="pinched">
                            <b class="quote-container">
                              <b class="quote">&#8220;</b>
                            </b>
                            {{ mentor.bio }}
                            <b class="quote-container">
                              <b class="quote end-quote">&#8221;</b>
                            </b>
                            <div class="arrow-down"></div>
                          </div>
                        {% else %}
                          <div class="pinched">
                            <b class="quote-container">
                              <b class="quote">&#8220;</b>
                            </b>
                            Just another great mentor!
                            <b class="quote-container">
                              <b class="quote end-quote">&#8221;</b>
                            </b>
                            <div class="arrow-down"></div>
                          </div>
                        {% endif %}
                      </div>
                      <div class="card-block">
                        <h4 class="card-title">{{ mentor.name }}</h4>
                        <figcaption>
                          <div class="social">
                          <div class="icon-holder">
                            {% if mentor.blog %}
                              <a href="{{ mentor.blog }}"><i id="code" class="icon-code"></i></a>
                            {% endif %}
                            {% if mentor.twitter %}
                              <a href="https://twitter.com/{{ mentor.twitter }}"><i id="twitter" class="icon-twitter"></i></a>
                            {% endif %}
                            {% if mentor.github %}
                              <a href="https://github.com/{{ mentor.github }} "><i id="github" class="icon-github"></i></a>
                            {% endif %}
                            {% if mentor.stackexchange %}
                              <a href="{{ mentor.stackexchange }} "><i id="stackexchange" class="icon-stackexchange"></i></a>
                            {% endif %}
                            {% if mentor.facebook %}
                              <a href="https://facebook.com/{{ mentor.facebook }}"><i id="facebook" class="icon-facebook"></i></a>
                            {% endif %}
                            </div>
                          </div>
                        </figcaption>
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <a class="anchor" name="students"></a>
        <div class="row students-wrapper">
          <div class="members students">
            <h1 class="section-h1"><span class="white-border">Students</span></h1>
            {% for student in site.data.students %}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="grid">
                <figure class="effect-duke">
                    <div class="card">
                      <div class="avatar img-circle">
                        {% if student.image %}
                          <img class="card-img-top" src="img/students/{{ student.image }}" alt="{{ student.name }}">
                        {% else %}
                          <img class="card-img-top" src="img/member.png" alt="{{ student.name }}">
                        {% endif %}
                        {% if student.bio %}
                          <div class="pinched">
                            <b class="quote-container">
                              <b class="quote">&#8220;</b>
                            </b>
                            {{ student.bio }}
                            <b class="quote-container">
                              <b class="quote end-quote">&#8221;</b>
                            </b>
                            <div class="arrow-down"></div>
                          </div>
                        {% else %}
                        <div class="pinched">
                          <b class="quote-container">
                            <b class="quote">&#8220;</b>
                          </b>
                          Just another creative student!
                          <b class="quote-container">
                            <b class="quote end-quote">&#8221;</b>
                          </b>
                          <div class="arrow-down"></div>
                        </div>
                        {% endif %}
                      </div>
                      <div class="card-block">
                        <h4 class="card-title">{{ student.name }}</h4>
                        <figcaption>
                          <div class="social">
                          <div class="icon-holder">
                            {% if student.blog %}
                              <a href="{{ student.blog }}"><i id="code" class="icon-code"></i></a>
                            {% endif %}
                            {% if student.twitter %}
                              <a href="https://twitter.com/{{ student.twitter }}"><i id="twitter" class="icon-twitter"></i></a>
                            {% endif %}
                            {% if student.github %}
                              <a href="https://github.com/{{ student.github }} "><i id="github" class="icon-github"></i></a>
                            {% endif %}
                            {% if student.stackexchange %}
                              <a href="{{ student.stackexchange }} "><i id="stackexchange" class="icon-stackexchange"></i></a>
                            {% endif %}
                            {% if student.facebook %}
                              <a href="https://facebook.com/{{ student.facebook }}"><i id="facebook" class="icon-facebook"></i></a>
                            {% endif %}
                            {% if student.instagram %}
                              <a href="https://instagram.com/{{ student.instagram }}"><i id="instagram" class="icon-instagram"></i></a>
                            {% endif %}
                          </div>
                          </div>
                        </figcaption>
                      </div>
                    </div>
                  </figure>
                 </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <a class="anchor" name="contributors"></a>
        <div class="row contributors-wrapper">
          <div class="members contributers">
            <h1 class="section-h1"><span class="white-border">Contributors</span></h1>
            {% for contributor in site.data.contributors %}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                  <div class="avatar img-circle">
                    {% if contributor.id %}
                      <img class="card-img-top" src="https://avatars.githubusercontent.com/u/{{ contributor.id }}?v=3" alt="{{ contributor.login }}">
                    {% else %}
                      <img class="card-img-top" src="img/member.png" alt="{{ contributor.login }}">
                    {% endif %}
                  </div>
                  <div class="card-block">
                    <h4 class="card-title">{{ contributor.login }}</h4>
                    <div class="social">
                      {% if contributor.login %}
                      <a href="https://github.com/{{ contributor.login }} "><i id="github" class="icon-github"></i></a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <a class="anchor" name="social_media"></a>
        <div class="social_media">
            <br>
            <h2 class="section-h1"><span class="white-border">Social Media</span></h2>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="twitter" style="">
                      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                      <a  style="height:315px;" class="twitter-timeline" href="https://twitter.com/fossasia" data-widget-id="541955158897618944">Tweets by @fossasia.</a>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <iframe scrolling="no" frameborder="0" allowtransparency="true" style="margin-top:15px; border: none; overflow: hidden; width: 100%; height: 214px;" src="http://www.facebook.com/plugins/likebox.php?id=126893747338271&amp;width=500&amp;connections=15&amp;stream=false&amp;header=false&amp;height=500"></iframe>
                    <div class="youtube" style="">
                      
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLzZVLecTsGpIt1xH0_dSwNwsLrdhR1bh3" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <div style="margin-top:21px;">
                      <div class="g-page" data-width="450" data-href="https://plus.google.com/+FossasiaOrg"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="facebook goof icon"><a href="https://www.facebook.com/fossasia" target="_blank"></a></div>
              <div class="twitter2 icon"><a href="http://twitter.com/fossasia" target="_blank"></a></div>
              <div class="github icon"><a href="https://github.com/fossasia" target="_blank"></a></div>
              <div class="plus icon"><a href="https://plus.google.com/108920596016838318216" target="_blank"></a></div>
            </div>
            <div class="col-md-6">
              <p>
                Bringing together an inspiring community across borders and ages to form a better future with Open Technologies and ICT
              </p>
          </div>
        </div>
      </div>
    </footer>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/index.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
