* {
  box-sizing: border-box; }

center h1{
  color: green;
  font-family: 'Nunito', sans-serif;
}

body {
	background-color: lightblue;
}

h2{
	color: green;
	font-family: 'Vollkorn', serif;
}

h3{
	color: blue;
}

div h3{
	color: purple;
}

div h2{
	color: orange;
	font-family: 'Vollkorn', serif;
}
