
/* Common style */
#grid figure {
	position 	: relative;
	float 		: left;
	overflow 	: hidden;
	margin      : 0;
	width 		: 100%;
	height 		: auto;
	text-align 	: center;
	cursor 		: pointer;
}
#grid figure img {
	position 	: relative;
	display 	: block;
	opacity 	: 0.8;
	width 	    : 100%;
}
#grid figure figcaption {
	padding 					: 2em;
	color 						: #fff;
	text-transform 				: uppercase;
	font-size 					: 4em;
	-webkit-backface-visibility : hidden;
	backface-visibility 		: hidden;
}
#grid figure figcaption::before,
#grid figure figcaption::after {
		width 		: 100%;
}

#grid figure figcaption,
#grid figure figcaption > a {
	position 	: absolute;
	top 		: 0;
	left 		: 0;
	width 		: 100%;
	height 		: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
#grid figure figcaption > a {
	z-index 	: 900;
	text-indent : 200%;
	white-space : nowrap;
	font-size   : 0;
	opacity     : 0;
}
/*---------------*/
/***** Duke *****/
/*---------------*/
figure.effect-duke img,
figure.effect-duke:hover .icon-holder {
	opacity 			: 1;

	-webkit-transition  : all 0.35s, -webkit-transform 0.35s;
	transition 			: all 1s 0.25s, transform 0.35s;
	z-index 			: 800;
}

figure.effect-duke:hover img {
	opacity 			: 0.1;

}

figure.effect-duke .icon-holder {
	position 				: absolute;
	top 					: 40%;
	left 					: 0;
	margin 					: 20px;
	padding 				: 30px;
	text-transform 			: none;
	font-size 				: 2.0em;
	opacity 				: 0;
	width 					: 100%;
	margin 					: auto;
	-webkit-transform 		: scale3d(0.8,0.8,1);
	transform 				: scale3d(0.8,0.8,1);
	-webkit-transform-origin: 50% -100%;
	transform-origin 		: 50% -100%;
}
figure.effect-duke:hover h2,
figure.effect-duke:hover p {
	opacity 			: 1;
	-webkit-transform 	: scale3d(1,1,1);
	transform 			: scale3d(1,1,1);
}

/* Media queries */
@media screen and (max-width: 50em) {
	.content {
		padding 	: 0 10px;
		text-align 	: center;
	}
	.grid figure {
		display 	: inline-block;
		float 		: none;
		margin 		: 10px auto;
		width 		: 100%;
	}
}



