body{margin:0px;}
body,
input,
textarea,
select{font-family:'Open Sans', sans-serif;font-size:12px;color:#4c4c4c;width:100%;}
.box{margin:20px auto;width:425px;height:32px;-webkit-border-radius:8px/7px;-moz-border-radius:8px/7px;border-radius:8px/7px;background-color:white;-webkit-box-shadow:1px 2px 5px grey;-moz-box-shadow:1px 2px 5px grey;box-shadow:1px 2px 5px grey;border:solid 1px grey;}
input{margin-top:3px;margin-left:2px;width:420;font-size:20px;border-style:hidden;}
h2{text-align:center;}
.map{border-bottom:2px;border-width:2px;background:grey;}
.header h1, h3{text-align:center;}
h5{margin-top:30px;}
.box input{padding-left:10px;}