*{
	font-family:'Russo One',sans-serif
	}
.otto{
	text-shadow:0 1px 0 #B22222,1px 0 0 #E9967A,1px 2px 1px #B22222,2px 1px 1px #E9967A,2px 3px 2px #B22222,3px 2px 2px #E9967A,3px 4px 2px #B22222,4px 3px 3px #E9967A,4px 5px 3px #B22222,5px 4px 2px #E9967A,5px 6px 2px #B22222,6px 5px 2px #E9967A,6px 7px 1px #B22222,7px 6px 1px #E9967A,7px 8px 0 #B22222,8px 7px 0 #E9967A}
@media (max-width:660px){
	.text-scroll p{
		font-size:1.3em
		}
		}
	.text-scroll{
		margin:auto;
		border-radius:5px;
		padding-left:15%;
		float:center
		}
	.scrolling-words{
		overflow:hidden;
		height:100px;
		padding-left:15px;margin-top:8%
		}
	.scrolling-words p{
	margin:0;display:block;
	height:100px;
	white-space:nowrap;
	-webkit-animation:move 30s 1s infinite;
	animation:move 30s 1s infinite;
	font-size:50px;
	letter-spacing:1px;
	box-sizing:border-box;
	padding-top:8px;
	color:white;
	float:center;
	white-space:nowrap;
	position:relative;
	font-size:50px;
	font-weight:700
	}
	@media (max-width:660px){
		.scrolling-words p{
			font-size:1.3em
			}
			}