
* {
 font-family: 'Russo One', sans-serif;
}

  /*******************************
  ROLLING TEXT KEYFRAME
  ********************************/
.otto {


    text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4,
    3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4,
    4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd,
    5px 6px 2px #378ab4,
    6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4,
    7px 6px 1px #5dabcd,
    7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
}

  .text-scroll p {
    color: white;
    height: 20px;
    float: center;
    white-space: nowrap;
    position: relative;
    font-size: 43px;
    font-weight: bold;
    margin-top: 22%;
  }
    @media (max-width:660px) {
  .text-scroll p{
   font-size: 1.3em;
  }
}
  .text-scroll {
    margin: auto;
    margin-top: 50px;
   border-radius: 5px;
    padding-left: 15%;
    float: center;
  }


  .scrolling-words {
    overflow: hidden;
    height: 54px;
    padding-left: 15px;
    margin-top: 21%;
  }

  .scrolling-words  p {
    margin: 0 0 30px;
    padding-top: 5px;
    white-space: nowrap;
    -webkit-animation: move 10s 1s infinite;
    -moz-animation: move 10s 1s infinite;
    -o-animation: move 10s 1s infinite;
    -ms-animation: move 10s 1s infinite;
    animation: move 10s 1s infinite;
    font-size: 43px;
    letter-spacing: 1px;
  }

  @media (max-width:660px) {
 .scrolling-words  p{
   font-size:1.3em; 
  }
}


  @-moz-keyframes move {
    0%  { top:  0px;   }
    10% { top: -56px;  }
    20% { top: -110px; }
    30% { top: -167px; }
    40% { top: -224px; }
    50% { top: -281px;   }
    60%{ top: -338px; }
    70%{ top: -395px; }
    80%{ top: -452px; }
    90%{ top: -509px; }
    100%{ top: -0px; }
  }

  @-o-keyframes move {
       0%  { top:  0px;   }
    10% { top: -56px;  }
    20% { top: -110px; }
    30% { top: -167px; }
    40% { top: -224px; }
    50% { top: -281px;   }
    60%{ top: -338px; }
    70%{ top: -395px; }
    80%{ top: -452px; }
    90%{ top: -509px; }
    100%{ top: -0px; }
  }

 @-ms-keyframes move {
    0%  { top:  0px;   }
    10% { top: -56px;  }
    20% { top: -110px; }
    30% { top: -167px; }
    40% { top: -224px; }
    50% { top: -281px;   }
    60%{ top: -338px; }
    70%{ top: -395px; }
    80%{ top: -452px; }
    90%{ top: -509px; }
    100%{ top: -0px; }
  }

  @-webkit-keyframes move {
    0%  { top:  0px;   }
    10% { top: -56px;  }
    20% { top: -110px; }
    30% { top: -167px; }
    40% { top: -224px; }
    50% { top: -281px;   }
    60%{ top: -338px; }
    70%{ top: -395px; }
    80%{ top: -452px; }
    90%{ top: -509px; }
    100%{ top: -0px; }
  }

  @keyframes move {
     0%  { top:  0px;   }
    10% { top: -56px;  }
    20% { top: -110px; }
    30% { top: -167px; }
    40% { top: -224px; }
    50% { top: -281px;   }
    60%{ top: -338px; }
    70%{ top: -395px; }
    80%{ top: -452px; }
    90%{ top: -509px; }
    100%{ top: -0px; }
  }
  /*******************************/