/*Hid the flow of images by overflow-x*/
html, body {
	height: 100%;
	overflow-x: hidden;
}
.landing-container {
	width: 95%;
}
.git-activities .btn {
	margin: 10px;
}
.navigation {
	right: 25px;
	line-height: 64px;
	position: absolute;
	z-index: 1000;
}
.navigation li a {
	font-weight: bold;
	cursor: pointer;
	color: white;
	font-size: 1rem;
	padding: 0 15px;
}
.sbtn {
	background: #0277bd;
	color: #fff;
	cursor: pointer;
	letter-spacing: 0.5px;
	padding: 15px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
	transition: all 0.2s ease-out 0s;
}
.btn, .btn-large, .blog .subscribe-email-button, .btn-flat {
	color: white;
	border: medium none;
	border-radius: 2px;
	height: 36px;
	line-height: 36px;
	outline: 0 none;
	padding: 0 2rem;
}
.sbtn:hover {
	background: #0288d1;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.wrapper {
	overflow: hidden;
}
.avatar {
	margin: 15px auto 0 auto;
	text-align: center;
	float: none;
}
.avatar img {
	width: 150px;
	height: 150px;
}
.profile-card .card-content {
	height: 250px;
}
.profile-info {
	overflow: hidden;
}
.card-content h5 {
	text-align: center;
}
.card {
	box-shadow: 0 0 0 0 !important;
}
@media screen and (max-width:400px) {
	.profile-info {
		text-align: center;
	}
}
footer.page-footer {
	background-color: #FB6668;
	margin-top: 20px;
	padding-top: 20px;
}
.social {
	text-align: center;
	font-size: 1.5em;
}
.social a {
	color: black;
	text-decoration: none;
}
.social i {
	margin: .3em;
	cursor: pointer;
	transition: color 300ms ease, margin-top 300ms ease;
	transform: translateZ(0);
}
.social i:hover {
	margin-top: -1px;
}
.social i#twitter:hover {
	color: #77DDF6;
}
.social i#github:hover {
	color: black;
}
.social i#linkedin:hover {
	color: #0177B5;
}
.social i#code:hover {
	color: #29A329;
}
.social i#stack:hover {
	color: #ED780E;
}
.social i#plus:hover {
	color: #D43402;
}
.social i#mail:hover {
	color: #F7B401;
}
.card .card-action a {
	color: #444;
	margin-right: 0;
}