/*Fonts*/
@font-face {
  src: url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Margin and padding settings*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Hid the flow of images by overflow-x*/
html, body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  height: 100%;
  overflow-x: hidden;
}

/* mborsch.css*/
.main-content {
  background-color: white;
}
.navbar-default {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 5px #989898;
  border: none;
}
.navbar-header {
  height: 50px;
}
.codein-bkg {
  float: right;
  position: absolute;
  right: 0px;
  top: -6px;
}
.codein-bkg img {
  height: 67px;
  margin: 0;
  padding: 0;
}
.codein-bigger {
  position: absolute;
  top: 19px;
  right: 80px;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #484848;
}
.codein-smaller {
  position: absolute;
  top: 24px;
  right: -194px;
  font-size: 18px;
  margin: 0;
  color: white;
  width: 100%
}
.navbar-brand {
  height: 60px;
  width: 200px;
  color: white;
  cursor: pointer;
  cursor: hand;
}
.navbar-default .navbar-nav>li>a {
  color: #636262;
}
.navbar-brand-logo {
  width: 100%;
  height: 36px;
  margin-top: -7px;
}
.members {
  width: 100%;
  margin-top: 100px;
  padding: 45px;
  padding-top: 10px;
}
#home {
  height: 300px;
}
.member {
  background-color: black;
  color: white;
  height: auto;
  border-radius: 50%;
}
.member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.member div {
  background-color: rgba(0, 0, 0, 0.39);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(140px, 200px, 200px, 0px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.member h3 {
  position: absolute;
  z-index: 100;
  bottom: 14px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.anchor {
  display: none;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: white;
}
footer.page-footer .footer-copyright {
  background-color: rgba(0, 0, 0, 0.15);
}
footer.page-footer {
  background-color: #353535;
  margin-top: 0px;
  padding-top: 0px;
}

/* end mborsch.css*/
a {
  color: #1e6bb8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}
.main-content:first-child {
  margin-top: 0;
}
.main-content img {
  max-width: 100%;
}
.main-content p {
  margin-bottom: 1em;
}
.main-content ul, .main-content ol {
  margin-top: 0;
}
@media screen and (min-width:64em) {
  .main-content {
    max-width: 256rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}
@media screen and (min-width:42em) and (max-width:64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
}
@media screen and (max-width:42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}
.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
}
.site-footer-owner {
  display: block;
  font-weight: bold;
}
.site-footer-credits {
  color: #819198;
}
@media screen and (min-width:64em) {
  .site-footer {
    font-size: 1rem;
  }
}
@media screen and (min-width:42em) and (max-width:64em) {
  .site-footer {
    font-size: 1rem;
  }
}
@media screen and (max-width:42em) {
  .site-footer {
    font-size: 0.9rem;
  }
}
.section-h1 {
  color: black !important;
  font-weight: bold !important;
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  line-height: 65px;
}
.social {
  text-align: center;
  font-size: 1.5em;
}
.social a {
  color: black;
  text-decoration: none;
}
.social i {
  margin: .3em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
.social i:hover {
  margin-top: -1px;
}
.social i#twitter:hover {
  color: #77DDF6;
}
.social i#github:hover {
  color: black;
}
.social i#linkedin:hover {
  color: #0177B5;
}
.social i#code:hover {
  color: #29A329;
}
.social i#stack:hover {
  color: #ED780E;
}
.social i#facebook:hover {
  color: #3b5998;
}
.social i#mail:hover {
  color: #F7B401;
}
.card .card-action a {
  color: #444;
  margin-right: 0;
}
.card-block {
  margin-bottom: 20px;
}
.card .card-title {
  text-align: center;
}
.card a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}
.avatar {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.avatar img {
  position: absolute;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}