/*Fonts*/
@font-face {
  src: url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Margin and padding settings*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Hid the flow of images by overflow-x*/
html, body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  height: 100%;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 61px;
  overflow-y: visible;
}

/* mborsch.css*/
a.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -50px;
}
a.anchor[name='social_media'] {
  position: relative;
  top: -50px;
}
.main-content {
  background-color: #424242;
}
.navbar-default {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 5px #989898;
  border: none;
}
.navbar-header {
  height: 50px;
}
.codein-bkg {
  float: right;
  position: absolute;
  right: 0px;
  top: -6px;
}
.codein-bkg img {
  height: 67px;
  margin: 0;
  padding: 0;
}
.codein-bigger {
  position: absolute;
  top: 19px;
  right: 80px;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #484848;
}
@media (max-width:768px) {
  .codein-bkg{
  display: none;
  }
}
.codein-smaller {
  position: absolute;
  top: 24px;
  right: -194px;
  font-size: 18px;
  margin: 0;
  color: white;
  width: 100%
}
.navbar-brand {
  height: 60px;
  width: 200px;
  color: white;
  cursor: pointer;
  cursor: hand;
}
.navbar-default .navbar-nav>li>a {
  color: #636262;
}
.navbar-brand-logo {
  width: 100%;
  height: 36px;
  margin-top: -7px;
}
.members {
  width: 100%;
  margin-top: 25px;
  padding: 45px;
  padding-top: 10px;
}
#home {
  height: 300px;
}
.member {
  background-color: black;
  color: white;
  height: auto;
  border-radius: 50%;
}
.member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.member div {
  background-color: rgba(0, 0, 0, 0.39);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(140px, 200px, 200px, 0px);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.member h3 {
  position: absolute;
  z-index: 100;
  bottom: 14px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: white;
}

.section-h1.start {
  transition: all 2s;
  -webkit-transition: all 2s;
  -webkit-transform: rotateX(-720deg);
  transform: rotateX(-720deg);
}

.painting-container {
  position: relative;
  box-shadow: 0px 0px 32px #424242;
}

.author {
  position: absolute;
  bottom: -80%;
  text-align: center;
  line-height: 50px;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  clip: rect(0px, 320px, 40px, 0px);
  font-size: .9rem;
}

.author:hover {
  color: white;
  cursor: hand;
}

.gallery .card-title {
  font-style: italic;
}

/* end mborsch.css*/
a {
  color: #1e6bb8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}
.main-content:first-child {
  margin-top: 0;
}
.main-content img {
  max-width: 100%;
}
.main-content p {
  margin-bottom: 1em;
}
.main-content ul, .main-content ol {
  margin-top: 0;
}
@media screen and (min-width:64em) {
  .main-content {
    /*max-width: 256rem;*/
    /*padding: 2rem 4rem;*/
    /*padding: auto;*/
    margin: 0 auto;
    font-size: 1.1rem;
  }
}
@media screen and (min-width:42em) and (max-width:64em) {
  .main-content {
    /*padding: 2rem 4rem;*/
    padding: auto;
    font-size: 1.1rem;
  }
}
@media screen and (max-width:42em) {
  .main-content {
    /*padding: 2rem 1rem;*/
    padding: auto;
    font-size: 1rem;
  }
}
.white-border {
  border: 3px white solid;
  padding: 0 15px;
}
.section-h1 {
  color: white !important;
  font-weight: bold !important;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 25px;
  line-height: 65px;
}
.social {
  text-align: center;
  font-size: 1.5em;
}
.social a {
  color: black;
  text-decoration: none;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
}
.social i {
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
  vertical-align: middle;
}
.social i:hover {
  margin-top: -1px;
}
.social i#twitter:hover {
  color: #77DDF6;
}
.social i#github:hover {
  color: black;
}
.social i#linkedin:hover {
  color: #0177B5;
}
.social i#code:hover {
  color: #29A329;
}
.social i#stack:hover {
  color: #ED780E;
}
.social i#facebook:hover {
  color: #3b5998;
}
.social i#mail:hover {
  color: #F7B401;
}
.card .card-action a {
  color: #444;
  margin-right: 0;
}
.card-block {
  margin-bottom: 20px;
}
.card .card-title {
  color: white;
  text-align: center;
}
.card a:hover, a:focus {
  text-decoration: none;
}

/* Speech bubble!*/
.pinched {
  position: absolute;
  padding: 15px;
  bottom: 71%;
  left: 29%;
  width: 100%;
  margin: 50px 0 3em;
  text-align: center;
  color: #fff;
  background: #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 1000;
  display: none;
  font-size: .8rem;
  word-wrap: break-word;
  padding-left: 24px;
  padding-right: 24px;
}

.pinched .quote-container {
  position: relative;
}

.pinched .quote {
  font-style: italic;
  font-family: sans-serif;
  line-height: 0px;
  position: absolute;
  font-size: 3rem;
  margin-right: 5px;
  top: 8px;
  left: -32px;
}

.pinched .end-quote {
  top: 35px;
  left: -4px;
}

.mentors .pinched .quote {
  color: #FF7043;
}

.students .pinched .quote {
  color: #FF7043;
}

.arrow-down {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 19px solid #333;
  left: 32px;
  bottom: -19px;
}
/* End Speech bubble!*/

.avatar {
  position: relative;
  padding-bottom: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
}

.card:hover .pinched {
  display: block;
}

.avatar img {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  min-width: 100%;
}
footer {
  bottom: 0;
  width: 100%;  /* Set the fixed height of the footer here */
  background-color: #EE6E73;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: left;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}
footer a {
  color: white;
  font-weight: bold;
}
footer a:hover, a:focus {
  color: #eee;
  text-decoration: none;
}
.footer-links {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
}
.footer-links li {
  padding-right: 5px;
  display: inline;
}
footer p {
  margin-bottom: 0;
  float: right;
}
.mentors-wrapper {
  margin: auto;
  margin-top: 50px;
  background-color: #6e73ee;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}
.students-wrapper {
  margin: auto;
  margin-top: 50px;
  background-color: #ff7043;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}
.gallery-wrapper {
  margin: auto;
  margin-top: 50px;
  background-color: #1E78D2;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}
.contributors-wrapper {
  margin: auto;
  margin-top: 50px;
  background-color: #27ae60;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
}

.wrap {
    margin: 0 auto;
    padding: 2%;
    width: 10em;
}

.icon {
    background-color: #222;
    background-repeat: no-repeat;
    background-position: center center;
    height: 2.5em;
    width: 2.5em;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -ms-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    float: left;
}

.icon a {
  display: block;
  height: 100%;
  width: 100%;
}

.goof {
    -webkit-transition: all 0.4s cubic-bezier(0, 2, 0, 2);
    -moz-transition: all 0.4s cubic-bezier(0, 2, 0, 2);
    -ms-transition: all 0.4s cubic-bezier(0, 2, 0, 2);
    -o-transition: all 0.4s cubic-bezier(0, 2, 0, 2);
    transition: all 0.4s cubic-bezier(0, 2, 0, 2);
}

.facebook {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iLTAuNyAtMC42IDEzNCAyNzgiPjxzdHlsZT4uc3R5bGUwe2ZpbGw6CSNGRkZGRkY7fTwvc3R5bGU+PHBhdGggZD0iTTgyLjYgNThjMCAwLTAuNy01LjUgNC40LTkuNmM1LjEtNCA5LjktMy43IDkuOS0zLjdjMTIuOS0xLjYgMjkuOCAyLjYgMjkuOCAyLjZsNS45LTQyLjdjMCAwLTU5LjctMTQuMy04NS45IDcuMkMyOS41IDI0LjUgMjkuMyA0My43IDI5LjMgNDMuN3Y0Ny43SDAuMmwtMC4yIDQyaDI5LjRsLTEuMSAxNDMuMWw1Mi44IDAuM2wwLjMtMTQzLjRoNDMuMWwyLjktNDEuOWwtNDUuMS0wLjJMODIuNiA1OHoiIGNsYXNzPSJzdHlsZTAiLz48L3N2Zz4=);
  background-size: 25%;
}

.facebook:hover {
    background-color: #3664A2;
    transform: rotate(4deg);
    
}

.twitter2 {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iLTAuNyAtMC40IDE4NCAyNDUiID48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMTgyLjcsMjEzLjVjMCw4LjQtMywxNS42LTksMjEuNWMtNiw2LTEzLjIsOS0yMS42LDlIOTEuNWMtMjUuMiwwLTQ2LjgtOC45LTY0LjctMjYuOEM4LjksMTk5LjQsMCwxNzcuOSwwLDE1Mi44VjMwLjVjMC04LjYsMy0xNS45LDguOS0yMS43QzE0LjksMi45LDIyLjIsMCwzMC44LDBjOC4zLDAsMTUuNSwzLDIxLjUsOWM2LDYsOSwxMy4xLDksMjEuNXY0NC4zaDg2LjJjNy44LDAsMTQuNSwyLjgsMjAuMSw4LjNjNS42LDUuNSw4LjQsMTIuMiw4LjQsMjBjMCw3LjgtMi44LDE0LjQtOC40LDIwYy01LjYsNS41LTEyLjMsOC4zLTIwLDguM0g2MS4ydjIxLjRjMCw4LjQsMi45LDE1LjUsOC44LDIxLjRjNS45LDUuOSwxMyw4LjgsMjEuNSw4LjhIMTUyYzguNCwwLDE1LjYsMywyMS42LDlDMTc5LjcsMTk4LDE4Mi43LDIwNS4xLDE4Mi43LDIxMy41eiIvPjwvc3ZnPg==);
  background-size: 40%;
}

.twitter2:hover {
    background-color: #44C8F5;
    transform: rotate(4deg);
}

.linkedin {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAtMC4zIDEwNSAxMDUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjcsMzQuNmgyMS43djY5LjdIMS43VjM0LjZ6IE0xMi42LDBjNi45LDAsMTIuNiw1LjYsMTIuNiwxMi42YzAsNi45LTUuNiwxMi42LTEyLjYsMTIuNkM1LjYsMjUuMSwwLDE5LjUsMCwxMi42QzAsNS42LDUuNiwwLDEyLjYsMCIvPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0zNywzNC42aDIwLjh2OS41aDAuM2MyLjktNS41LDEwLTExLjMsMjAuNS0xMS4zYzIxLjksMCwyNiwxNC40LDI2LDMzLjJ2MzguMkg4Mi45VjcwLjRjMC04LjEtMC4yLTE4LjUtMTEuMy0xOC41Yy0xMS4zLDAtMTMsOC44LTEzLDE3Ljl2MzQuNUgzN1YzNC42eiIvPjwvc3ZnPg==);
  background-size: 50%;
}

.linkedin:hover {
    background-color: #007BB6;
    transform: rotate(4deg);
}

.github {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAtMC40IDMyIDMzIj48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMzIsMTZjMCw4LjgtNy4yLDE2LTE2LDE2QzcuMiwzMiwwLDI0LjgsMCwxNkMwLDcuMiw3LjIsMCwxNiwwQzI0LjgsMCwzMiw3LjIsMzIsMTYgTTIwLDI5YzUuNS0xLjgsOS41LTYuOSw5LjUtMTNjMC03LjUtNi0xMy41LTEzLjUtMTMuNUM4LjUsMi41LDIuNSw4LjUsMi41LDE2YzAsNi4xLDQsMTEuMiw5LjUsMTN2LTIuNWMtMy45LDAuOS00LjgtMS44LTQuOC0xLjhjLTAuNi0xLjYtMS41LTItMS41LTJjLTEuMy0wLjksMC4xLTAuOCwwLjEtMC44YzEuNCwwLjEsMi4xLDEuNCwyLjEsMS40YzEuMywyLjMsMy41LDEuNCw0LjIsMS4xYzAuMi0xLDEtMS4yLDEuMi0xLjNDOS44LDIyLjYsNiwyMS4zLDYsMTUuMmMwLTEuNywwLjYtMy4xLDEuNi00LjJjLTAuMi0wLjQtMC43LTIsMC4yLTQuMmMwLDAsMS4zLTAuNCw0LjMsMS42YzEuMy0wLjMsMi42LTAuNSwzLjktMC41YzEuMywwLDIuNywwLjIsMy45LDAuNWMzLTIsNC4zLTEuNiw0LjMtMS42YzAuOSwyLjIsMC4zLDMuOCwwLjIsNC4yYzEsMS4xLDEuNiwyLjUsMS42LDQuMmMwLDYuMS0zLjgsNy40LTcuMyw3LjhjMC42LDAuNCwxLjMsMS4zLDEuMywyLjhWMjl6Ii8+PC9zdmc+);
  background-size: 60%;
}

.github:hover {
    background-color: #6CC644;
    transform: rotate(4deg);
}

.plus {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQxcHgiIGhlaWdodD0iMzlweCIgdmlld0JveD0iLTAuMDQxIC0wLjIwNyA0MSAzOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMC4wNDEgLTAuMjA3IDQxIDM5IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE4LjM4LDIuMjg5YzAuMjkzLDAuMjI5LDAuNjQxLDAuNTM2LDEuMDM1LDAuOTE1czAuNzcyLDAuODM3LDEuMTMzLDEuMzgKCWMwLjM2MSwwLjU0MywwLjY3NCwxLjE3OCwwLjkzNywxLjg5OWMwLjI2MiwwLjcyNSwwLjM5NCwxLjU0OSwwLjM5NCwyLjQ2OWMwLDAuOTE5LTAuMTE1LDEuNzI1LTAuMzQ1LDIuNDE3CgljLTAuMjI5LDAuNjktMC41NDEsMS4zMDgtMC45MzUsMS44NWMtMC4zOTYsMC41NDMtMC44MzYsMS4wMzYtMS4zMzIsMS40OGMtMC40OTQsMC40NDQtMS4wMDIsMC44NjQtMS41MjksMS4yNTkKCWMtMC4zMjgsMC4zMjYtMC42MzksMC42NzMtMC45MzcsMS4wMzRjLTAuMjk1LDAuMzY0LTAuNDQxLDAuODI1LTAuNDQxLDEuMzgyYzAsMC41NiwwLjE0NiwwLjk5NywwLjQ0MSwxLjMxCgljMC4yOTcsMC4zMTIsMC41NzYsMC41ODIsMC44MzgsMC44MTNsMS43NzQsMS4zNzljMC41MjUsMC40NjMsMS4wNDIsMC45MjYsMS41NTMsMS4zODVjMC41MDgsMC40NTksMC45NTIsMC45NTEsMS4zMywxLjQ3OQoJYzAuMzc5LDAuNTI2LDAuNjgxLDEuMTE5LDAuOTExLDEuNzc4YzAuMjI5LDAuNjU0LDAuMzQ2LDEuNDE0LDAuMzQ2LDIuMjY3YzAsMS4xNTEtMC4yOCwyLjI4Ni0wLjg0LDMuNDA3CgljLTAuNTU2LDEuMTE1LTEuMzc4LDIuMTEzLTIuNDYxLDIuOTg0Yy0xLjA4NCwwLjg3MS0yLjQ0LDEuNTc4LTQuMDY5LDIuMTIyYy0xLjYyMywwLjU0Mi0zLjQ4OSwwLjgxNC01LjU5LDAuODE0CgljLTEuNzc0LDAtMy4zMjctMC4xOTgtNC42NTctMC41OTJjLTEuMzM0LTAuMzk2LTIuNDQtMC45Mi0zLjMyNS0xLjU4Yy0wLjg4OS0wLjY1NS0xLjU0NS0xLjQwMi0xLjk3My0yLjIzOQoJQzAuMjE1LDMyLjg2NiwwLDMxLjk4NiwwLDMxLjA2OGMwLTAuODg2LDAuMjctMS44OTgsMC44MTMtMy4wMzJjMC41NDMtMS4xMzMsMS41MzYtMi4xMjQsMi45ODEtMi45OAoJYzAuNzU2LTAuNDYzLDEuNTctMC44MzEsMi40NDMtMS4xMDljMC44NjctMC4yNzksMS43MjktMC41MDEsMi41ODMtMC42NjVzMS42Ni0wLjI3OSwyLjQxNC0wLjM0NQoJYzAuNzU2LTAuMDYzLDEuNDE0LTAuMTE0LDEuOTcyLTAuMTQ3Yy0wLjM2My0wLjQ1OS0wLjY5OC0wLjk0My0xLjAxLTEuNDU0Yy0wLjMxMy0wLjUwOC0wLjQ2OC0xLjE0MS0wLjQ2OC0xLjg5NgoJYzAtMC40MjYsMC4wNDktMC43OCwwLjE0OC0xLjA2MmMwLjA5OC0wLjI3OCwwLjIxMy0wLjU2NCwwLjM0NC0wLjg2Yy0wLjI2MywwLjAzMi0wLjUyNSwwLjA1OC0wLjc4OSwwLjA3NQoJYy0wLjI2MiwwLjAxNS0wLjUyNSwwLjAyMy0wLjc4NywwLjAyM2MtMS4zMTUsMC0yLjQ4MS0wLjIyMy0zLjQ5OC0wLjY2NWMtMS4wMjEtMC40NDQtMS44NzMtMS4wMjYtMi41NjMtMS43NQoJYy0wLjY5MS0wLjcyMi0xLjIxNS0xLjU1Mi0xLjU3Ni0yLjQ4OWMtMC4zNjMtMC45MzctMC41NDMtMS44NzktMC41NDMtMi44MzJjMC0xLjE1LDAuMjYyLTIuMzExLDAuNzg5LTMuNDc3CgljMC41MjQtMS4xNjYsMS4zMTMtMi4yMDcsMi4zNjUtMy4xMjZjMS40MTItMS4xNDksMi44OTktMS44OSw0LjQ2LTIuMjJjMS41Ni0wLjMyOSwzLjAxMy0wLjQ5MSw0LjM2LTAuNDkxSDI0LjU5bC0zLjE1NCwxLjcyNAoJSDE4LjM4eiBNMjAuMjUzLDMwLjcyMWMwLTAuNjIzLTAuMTA4LTEuMTg5LTAuMzIxLTEuNjk4Yy0wLjIxNS0wLjUxLTAuNTM0LTEuMDEzLTAuOTYtMS41MDVjLTAuNDI4LTAuNDkxLTAuOTg2LTEuMDAyLTEuNjc2LTEuNTI2CgljLTAuNjkxLTAuNTI2LTEuNDk4LTEuMTE3LTIuNDE1LTEuNzc0Yy0wLjE5Ny0wLjAzMy0wLjM3LTAuMDUtMC41MTctMC4wNWgtMC42MTZjLTAuMDk4LDAtMC4zMjgsMC4wMDgtMC42OSwwLjAyNwoJYy0wLjM2MiwwLjAxNS0wLjc4OSwwLjA0OC0xLjI4MSwwLjA5NWMtMC40OTIsMC4wNTItMS4wMTksMC4xMzUtMS41NzYsMC4yNDhjLTAuNTU5LDAuMTE2LTEuMTAyLDAuMjU1LTEuNjI3LDAuNDE5CgljLTAuMjYyLDAuMDk5LTAuNjM0LDAuMjU1LTEuMTA4LDAuNDcxYy0wLjQ3NywwLjIxMS0wLjk0NSwwLjUxNi0xLjQwNiwwLjkwOWMtMC40NTksMC4zOTUtMC44NiwwLjg4Ny0xLjIwNiwxLjQ3OQoJYy0wLjM0NiwwLjU4OS0wLjUxOCwxLjMzLTAuNTE4LDIuMjE4YzAsMS43NzQsMC43OCwzLjIyLDIuMzM5LDQuMzM3YzEuNTYyLDEuMTE0LDMuNjczLDEuNjc0LDYuMzMzLDEuNjc0CgljMi4zNjUsMCw0LjE2Ni0wLjUwMSw1LjM5Ny0xLjUwM1MyMC4yNTMsMzIuMjY2LDIwLjI1MywzMC43MjEgTTEyLjk2LDE2LjIzNWMwLjYyNSwwLDEuMjQxLTAuMTMyLDEuODQ5LTAuMzk2CgljMC42MDctMC4yNjUsMS4xMDgtMC41OTMsMS41MDEtMC45ODljMC41NTgtMC41NjEsMC45MDQtMS4xODYsMS4wMzUtMS44OGMwLjEzMS0wLjY5MiwwLjE5Ny0xLjI2OSwwLjE5Ny0xLjczMQoJYzAtMC44ODgtMC4xMzEtMS44NjItMC4zOTQtMi45MTdjLTAuMjY0LTEuMDU2LTAuNjU4LTIuMDQyLTEuMTgyLTIuOTY2Yy0wLjUyNy0wLjkyNC0xLjE3Ny0xLjY5LTEuOTQ4LTIuMjk5CgljLTAuNzcyLTAuNjEyLTEuNjY3LTAuOTE4LTIuNjg2LTAuOTE4Yy0wLjY1NiwwLTEuMjk3LDAuMTQ5LTEuOTIsMC40NDhDOC43ODgsMi44ODQsOC4yNzksMy4yOCw3Ljg4NiwzLjc3MQoJYy0wLjQyOCwwLjUzLTAuNzE2LDEuMTA1LTAuODY0LDEuNzMyQzYuODc1LDYuMTMsNi44LDYuNzc0LDYuOCw3LjQzM2MwLDAuODI1LDAuMTI0LDEuNzQ5LDAuMzcsMi43NzEKCWMwLjI0NiwxLjAyMSwwLjYyMywxLjk3NiwxLjEzMywyLjg2OGMwLjUwOCwwLjg4OCwxLjE1LDEuNjQsMS45MjIsMi4yNUMxMC45OTgsMTUuOTI5LDExLjkwOSwxNi4yMzUsMTIuOTYsMTYuMjM1Ii8+Cjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNDAsOS4wNiAzMy4wNjUsOS4wNiAzMy4wNjUsMTYuMDI4IDMwLjg2NCwxNi4wMjggMzAuODY0LDkuMDYgMjMuODk2LDkuMDYgMjMuODk2LDYuODU4IAoJMzAuODY0LDYuODU4IDMwLjg2NCwwIDMzLjA2NSwwIDMzLjA2NSw2Ljg1OCA0MCw2Ljg1OCAiLz4KPC9zdmc+);
  background-size: 60%;
}

.plus:hover {
    background-color: #dd4b39;
    transform: rotate(4deg);
}

.icon-holder {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
